body{
    margin:0px;
}
/*body-header*/
#body-header{
    height:105vh;
    background-image:url('images.jpeg');
    background-repeat:no-repeat;
    background-size:cover;
    background-position:center;
    background-attachment:fixed;
}
.horizontal-list{
    list-style:none;
    padding-left:40px;
    padding-right: 40px;
  
  }
  /* all the list items in horizontal-list class*/
  .horizontal-list li{
    display: inline-block;
    margin: 10px 18px  18px 10px;
  }
  /* for anchor within horizontal lists all tags*/
  .horizontal-list li a{
    color: white;
    font-size: 30px;
    text-decoration:none;
    transition : color 0.5s,border-bottom 4s;
    
  }
  .horizontal-list li a:hover{
    color: grey;
    border-bottom: 1px solid black;
  }
  .text-center{
    text-align:center;
  }
  #title{
    text-align: center;
    color:maroon;
  }
  .section{
    background-color:grey;
  }
  /*paragraph */
  #text{
    font-style:italic;
    font-size:30px;
    font-color:grey;
    padding-left:20px;
    padding-right:20px;

  }
  /*images section*/
  #Images{
    
        width: 300px;
        height:300px;
        display:flex;
        flex-direction:row;
        margin-right: 30px;   /* Horizontal Space */
        margin-bottom: 30px;
        margin-left: 30px;   /* Horizontal Space */
        
  }
  #Works{
    background-color:lightgray;
  }
#worksid{
    padding-left: 20px;
    padding-right: 20px;
    font-weight: 100;
    font-style: italic;
    font-size: 20px;

}

  